<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Navbar_light.css">
    <link rel="stylesheet" href="/static/css/aboutus.css">
    <link rel="stylesheet" href="/static/css/Footer.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
                <a href="/" class="nav-logo">
                    <img id="logo" src="/static/image/logo2.0black.png" alt="">
                </a>
                <div class="nav-menu">
                    <div class="nav_Main_wrapper">
                        <div class="hover-container">
                            <div class="hover-inside">
                                <h1 class="hover-text hover-text-1">About us</h1>
                                <h1 class="hover-text hover-text-2">Students</h1>
                                <h1 class="hover-text hover-text-3">Campus</h1>
                                <h1 class="hover-text hover-text-4">Library</h1>
                                <h1 class="hover-text hover-text-5">Activities</h1>
                                <h1 class="hover-text hover-text-6">Departments</h1>
                                <div class="borderi">
                                    <div class="inside-border"></div>
                                </div>
                            </div>
                            <div class="content-container">
                                <div class="content div-1">
                                    <div class="content_div-1">
                                        <a href="/about-us">About us</a>
                                        <a href="/accreditation">Accreditation</a>
                                        <a href="/international-awards">International awards</a>
                                    </div>
                                </div>
                                <div class="content div-2">
                                    <div class="content_div-1">
                                        <a href="">Transfer</a>
                                        <a href="">Arrivals</a>
                                    </div>
                                </div>
                                <div class="content div-3">
                                    <div class="content_div-1">
                                        <a href="">Prishtine</a>
                                        <a href="">Prizren</a>
                                    </div>
                                </div>
                                <div class="content div-4">
                                    <div class="content_div-1">
                                        <a href="">E-Library</a>
                                    </div>
                                </div>
                                <div class="content div-5">
                                    <div class="content_div-1">
                                        <a href="">Clubs</a>
                                    </div>
                                </div>
                                <div class="content div-6">
                                    <div class="content_div-1">
                                        <a href="">Computer Science</a>
                                        <a href="">Cyber Security</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="login_container">
                            <a href="/login"><h1>Login</h1></a>
                            <a href="mailto:someone@example.com">info@uus-edu.org</a>
                        </div>
                    </div>
                </div>
                <div class="apply-hamburger">
                    <div class="apply-container">
                        <a href="/apply">Apply</a>
                    </div>
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
        </nav>
    </header>

    <main class="wrapper">
        <div class="wrapper-assist">
            <div class="title">
                <h1>About us</h1>
                <div class="underline"></div>
            </div>
            <p>
                WELCOME TO THE CAMPUS WHERE UNLOCKING OF AN INTELLECTUAL JOURNEY IS SUPPLEMENTED BY ENTHUSIASTIC GROUSSES OF LEARNERS.
                <br><br><br>

            Leadership tomorrow has a mission to build reinforced in a multi-faceted and multi-layered personality. This is our pride of having a platform to build a disposition in tune with the tags of leadership available in our institute. 
                <br><br>
            Our faculty rich with skilled academicians will actively blend the learning of how to think critically, invent and innovate among our student population. The central goal is to teach and lead the students of the future by providing them with wide selection of programs, modern facilities, and disciplines at the same time, and also impart on them a sense a solidity and well-roundedness in order to graduate on time. 
                <br><br>
            The opinion held by our university about education is that it lies in transforming the world and understanding it, subjects to be researched and later collaboration. Immerse yourself alongside us in this journey of learning and enlightening the unforeseeable future, and propelling others to become tomorrow's world leaders.
            </p>
        </div>
    </main>


<!-- FOOTER -->

<footer>
    <div class="logo_footer">
        <img src="/static/image/logo2.0white.png" alt="">
    </div>
    <div class="footer_container">
        <div class="wrapper_footer">
            <div class="studies_footer footer_groops">
                <div class="studies_container_inside footer_groops_inside">
                    <h1>Studies</h1>
                    <div class="div_sectors">
                        <a href="">Bachelor</a>
                        <a href="">Master Studies</a>
                    </div>
                </div>
            </div>
            <div class="e_service_footer footer_groops">
                <div class="e-service_container_inside footer_groops_inside">
                    <h1>E-Service</h1>
                    <div class="div_sectors">
                        <a href="">DMIS - Student</a>
                        <a href="">DMiS - Stuff</a>
                        <a href="">E-Learning</a>
                        <a href="">E-Library</a>
                    </div>
                </div>
            </div>
            <div class="contact_footer footer_groops">
                <div class="contact_container_inside footer_groops_inside">
                    <h1>Contact</h1>
                    <div class="div_sectors">
                        <a href="" style="color: #006CE8;">info@uus-edu.com</a>
                        <a href="" class="disabled_a">+383 44 123 456</a>
                        <a href="" class="disabled_a">Str. Hasan Prishtina 1,1,<br> Konjuh, Lipjan, 14000,<br> Kosovo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower_footer">
        <div class="underline"></div>
        <h1>© 2024 University of United Students. All Rights Reserved</h1>
    </div>
</footer>

<!-- FOOTER -->
    <script src="/static/js/Navbar_Light.js"></script>
</body>
</html>