<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/aboutus.css">
</head>
<body>
    
    <%- include('partials/Navbar-light'); %>
    <main class="wrapper">
        <div class="wrapper-assist">
            <div class="title">
                <h1>About us</h1>
                <div class="underline"></div>
            </div>
            <p>
                WELCOME TO THE CAMPUS WHERE UNLOCKING OF AN INTELLECTUAL JOURNEY IS SUPPLEMENTED BY ENTHUSIASTIC GROUSSES OF LEARNERS.
                <br><br><br>

            Leadership tomorrow has a mission to build reinforced in a multi-faceted and multi-layered personality. This is our pride of having a platform to build a disposition in tune with the tags of leadership available in our institute. 
                <br><br>
            Our faculty rich with skilled academicians will actively blend the learning of how to think critically, invent and innovate among our student population. The central goal is to teach and lead the students of the future by providing them with wide selection of programs, modern facilities, and disciplines at the same time, and also impart on them a sense a solidity and well-roundedness in order to graduate on time. 
                <br><br>
            The opinion held by our university about education is that it lies in transforming the world and understanding it, subjects to be researched and later collaboration. Immerse yourself alongside us in this journey of learning and enlightening the unforeseeable future, and propelling others to become tomorrow's world leaders.
            </p>
        </div>
    </main>
    
    <%- include('partials/Chat'); %>
    <%- include('partials/footer'); %>

    <script src="/static/js/Navbar_Light.js"></script>
</body>
</html>