<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accreditation</title>
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/Navbar_light.css">
    <link rel="stylesheet" href="/static/css/accreditation.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>


    <main class="wrapper">
        <div class="wrapper-assist">
            <div class="title">
                <h1>Accreditation</h1>
                <div class="underline"></div>
            </div>
            <ol>
                <li>
                    <a href="">Status</a>
                </li>
                <li>
                    <a href="">Regulation bachelor</a>
                </li>
                <li>
                    <a href="">Regulation Master</a>
                </li>
                <li>
                    <a href="">Code of Ethics</a>
                </li>
                <li>
                    <a href="">Strategic Plan 2022-2026</a>
                </li>
            </ol>
        </div>
    </main>



    <%- include('partials/footer'); %>

    <script src="/static/js/Navbar_Light.js"></script>
</body>
</html>