<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accreditation</title>
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/Navbar_light.css">
    <link rel="stylesheet" href="/static/css/accreditation.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
                <a href="/" class="nav-logo">
                    <img id="logo" src="/static/image/logo2.0black.png" alt="">
                </a>
                <div class="nav-menu">
                    <div class="nav_Main_wrapper">
                        <div class="hover-container">
                            <div class="hover-inside">
                                <h1 class="hover-text hover-text-1">About us</h1>
                                <h1 class="hover-text hover-text-2">Students</h1>
                                <h1 class="hover-text hover-text-3">Campus</h1>
                                <h1 class="hover-text hover-text-4">Library</h1>
                                <h1 class="hover-text hover-text-5">Activities</h1>
                                <h1 class="hover-text hover-text-6">Departments</h1>
                                <div class="borderi">
                                    <div class="inside-border"></div>
                                </div>
                            </div>
                            <div class="content-container">
                                <div class="content div-1">
                                    <div class="content_div-1">
                                        <a href="/about-us">About us</a>
                                        <a href="/accreditation">Accreditation</a>
                                        <a href="/international-awards">International awards</a>
                                    </div>
                                </div>
                                <div class="content div-2">
                                    <div class="content_div-1">
                                        <a href="">Transfer</a>
                                        <a href="">Arrivals</a>
                                    </div>
                                </div>
                                <div class="content div-3">
                                    <div class="content_div-1">
                                        <a href="">Prishtine</a>
                                        <a href="">Prizren</a>
                                    </div>
                                </div>
                                <div class="content div-4">
                                    <div class="content_div-1">
                                        <a href="">E-Library</a>
                                    </div>
                                </div>
                                <div class="content div-5">
                                    <div class="content_div-1">
                                        <a href="">Clubs</a>
                                    </div>
                                </div>
                                <div class="content div-6">
                                    <div class="content_div-1">
                                        <a href="">Computer Science</a>
                                        <a href="">Cyber Security</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="login_container">
                            <a href="/login"><h1>Login</h1></a>
                            <a href="mailto:someone@example.com">info@uus-edu.org</a>
                        </div>
                    </div>
                </div>
                <div class="apply-hamburger">
                    <div class="apply-container">
                        <a href="/apply">Apply</a>
                    </div>
                    <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
        </nav>
    </header>


    <main class="wrapper">
        <div class="wrapper-assist">
            <div class="title">
                <h1>Accreditation</h1>
                <div class="underline"></div>
            </div>
            <ol>
                <li>
                    <a href="">Status</a>
                </li>
                <li>
                    <a href="">Regulation bachelor</a>
                </li>
                <li>
                    <a href="">Regulation Master</a>
                </li>
                <li>
                    <a href="">Code of Ethics</a>
                </li>
                <li>
                    <a href="">Strategic Plan 2022-2026</a>
                </li>
            </ol>
        </div>
    </main>



<!-- FOOTER -->

<footer>
    <div class="logo_footer">
        <img src="/static/image/logo2.0white.png" alt="">
    </div>
    <div class="footer_container">
        <div class="wrapper_footer">
            <div class="studies_footer footer_groops">
                <div class="studies_container_inside footer_groops_inside">
                    <h1>Studies</h1>
                    <div class="div_sectors">
                        <a href="">Bachelor</a>
                        <a href="">Master Studies</a>
                    </div>
                </div>
            </div>
            <div class="e_service_footer footer_groops">
                <div class="e-service_container_inside footer_groops_inside">
                    <h1>E-Service</h1>
                    <div class="div_sectors">
                        <a href="">DMIS - Student</a>
                        <a href="">DMiS - Stuff</a>
                        <a href="">E-Learning</a>
                        <a href="">E-Library</a>
                    </div>
                </div>
            </div>
            <div class="contact_footer footer_groops">
                <div class="contact_container_inside footer_groops_inside">
                    <h1>Contact</h1>
                    <div class="div_sectors">
                        <a href="" style="color: #006CE8;">info@uus-edu.com</a>
                        <a href="" class="disabled_a">+383 44 123 456</a>
                        <a href="" class="disabled_a">Str. Hasan Prishtina 1,1,<br> Konjuh, Lipjan, 14000,<br> Kosovo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower_footer">
        <div class="underline"></div>
        <h1>© 2024 University of United Students. All Rights Reserved</h1>
    </div>
</footer>

<!-- FOOTER -->
    <script src="/static/js/Navbar_Light.js"></script>
</body>
</html>