<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <div class="wrapper">
        <a href="/">
            <img src="/static/image/logo2.0black.png" alt="">
        </a>
        <form action="/admin" method="post">
            <h1>Login to Admin pannel of UUS</h1>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email adresa | Email" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Fjalkalimi | Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <br>
            <br>
            <button type="submit" class="btn">Login</button>
            <br>
        </form>
    </div>
</body>
</html>