<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventures</title>
    <link rel="stylesheet" href="/static/css/adventures.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>
    <div class="container">
        <img class="back" src="/static/image/erasmusstudent 1.png" alt="">
        <div class="text">
            <h1>
                Adventures of Students
            </h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="wrapper-assist">
            <h1>Welcome to our Erasmus adventures page, where we invite you to embark on a journey filled with stories of exploration, growth, and cultural exchange. Here, our students share their unforgettable experiences from their Erasmus exchanges, weaving tales of adventure, friendship, and personal discovery.</h1>
            <div class="row">
                <div class="both-parts">
                    <h1>
                        STUDYING IN ROME ITALY
                    </h1>
                    <div class="start">
                        <img src="/static/adventures/italy.png" alt="">
                    </div>
                </div>
                <div class="both-parts">
                    <p>
                        Discover the allure of studying abroad in Rome, Italy, just like Ammy did. Immerse yourself in the rich tapestry of Italian culture, from iconic landmarks like the Colosseum to the cobblestone streets of Trastevere.
                    </p>
                    <img src="/static/adventures/Colosseum-Rome-Italy 1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>