<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventures</title>
    <link rel="stylesheet" href="/static/css/adventures.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>
    <div class="container">
        <img class="back" src="/static/image/erasmusstudent 1.png" alt="">
        <div class="text">
            <h1>
                Adventures of Students
            </h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="wrapper-assist">
            <h1>Welcome to our Erasmus adventures page, where we invite you to embark on a journey filled with stories of exploration, growth, and cultural exchange. Here, our students share their unforgettable experiences from their Erasmus exchanges, weaving tales of adventure, friendship, and personal discovery.</h1>
            <div class="row">
                <div class="both-parts">
                    <h1>
                        STUDYING IN ROME ITALY
                    </h1>
                    <div class="start">
                        <img src="/static/adventures/italy.png" alt="">
                    </div>
                </div>
                <div class="both-parts">
                    <p>
                        Discover the allure of studying abroad in Rome, Italy, just like Ammy did. Immerse yourself in the rich tapestry of Italian culture, from iconic landmarks like the Colosseum to the cobblestone streets of Trastevere.
                    </p>
                    <img src="/static/adventures/Colosseum-Rome-Italy 1.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="both-parts">
                    <h1>
                        STUDYING IN PARIS FRANCE
                    </h1>
                    <div class="start">
                        <img src="/static/adventures/paris.png" alt="">
                    </div>
                    <p>
                        Studying in Paris is never a bad idea, just ask Ema and Sara. Their journey to the City of Light was a dream come true, filled with endless opportunities for academic growth and cultural exploration. From attending lectures at prestigious universities to picnicking in the shadow of the Eiffel Tower, every day was an adventure in this cosmopolitan metropolis.
                    </p>
                </div>
                <div class="both-parts">
                    <img src="/static/adventures/eifel.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="both-parts">
                    <h1>
                        STUDYING IN SEVILLE SPAIN
                    </h1>
                    <div class="start">
                        <img src="/static/adventures/spain.png" alt="">
                    </div>
                </div>
                <div class="both-parts">
                    <p>
                        Meet Tina, the intrepid student who embarked on an unforgettable academic journey in Seville, Spain. From the moment she arrived in this charming Spanish city, Tina was captivated by its rich history and vibrant culture.
                    </p>
                    <img src="/static/adventures/spain2.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="both-parts first">
                    <h1>
                        STUDYING IN BERLIN GERMANY
                    </h1>
                    <div class="start">
                        <img src="/static/adventures/germans.png" alt="">
                    </div>
                    <p>
                        Enter the world of Dua, the adventurous student who embarked on a transformative journey to study in Germany. From the bustling streets of Berlin to the picturesque landscapes of Bavaria, Dua embraced the opportunity to immerse herself in German culture and academia.
                    </p>
                </div>
                <div class="both-parts">
                    <img src="/static/adventures/germany.png" alt="">
                </div>
            </div>
            <h1 class="bold">YOU MAY WANT TO KNOW</h1>
            <div class="container-infomations">
                <div class="card">
                    <img src="/static/adventures/1.png" alt="">
                    <section>
                        <h1>
                            Erasmus informations
                        </h1>
                        <hr>
                        <p>
                            When is the best time to study abroad?
                        </p>
                    </section>
                </div>
                <div class="card">
                    <img src="/static/adventures/2.png" alt="">
                    <section>
                        <h1>
                            Erasmus informations
                        </h1>
                        <hr>
                        <p>
                            Top 10 Universities in Spain for International Students
                        </p>
                    </section>
                </div>
                <div class="card">
                    <img src="/static/adventures/3.png" alt="">
                    <section>
                        <h1>
                            Erasmus informations
                        </h1>
                        <hr>
                        <p>
                            Top 10 places to study Art & History of Art
                        </p>
                    </section>
                </div>
                <div class="card">
                    <img src="/static/adventures/4.png" alt="">
                    <section>
                        <h1>
                            Erasmus informations
                        </h1>
                        <hr>
                        <p>
                            How do I find accommodation while studying abroad?
                        </p>
                    </section>
                </div>
                <div class="card">
                    <img src="/static/adventures/5.png" alt="">
                    <section>
                        <h1>
                            Erasmus informations
                        </h1>
                        <hr>
                        <p>
                            How long does a typical study abroad program last?
                        </p>
                    </section>
                </div>
                <div class="card">
                    <img src="/static/adventures/6.png" alt="">
                    <section>
                        <h1>
                            Erasmus informations
                        </h1>
                        <hr>
                        <p>
                            How do I apply for a study abroad program?
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>