<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>APPLY</title>
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/apply.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="apply_container">
                    <div class="logo">
                        <a href="/">
                            <img src="/static/image/logo2.0white.png" alt="">
                        </a>
                    </div>
                    <h1>Apply for Bachelor & Master</h1>
                    <form action="/apply" method="post">
                        <input type="text" name="name" placeholder="Emri | First name">
                        <input type="text" name="lastname" placeholder="Mbiemri | Last name">
                        <input type="text" name="phone_number" id="" placeholder="Numri i telefonit | Phone Number">
                        <input type="email" name="email" placeholder="Email adresa | Email">
                        <input type="text" name="address" placeholder="Vendbanimi | Place you live">
                        <input type="text" name="high_school" placeholder="Drejtimi i shkolles se mesme | High school department  ">
                        <select name="study_level" id="">
                            <option value="" class="disabled" disabled selected>Niveli i studimeve | Level of studies</option>
                            <option value="bachelor">Bachelor</option>
                            <option value="master">Master</option>
                        </select>
                        <select name="choose_dep" id="">
                            <option value="" class="" disabled selected>Zgjedh drejtimin | Select your study program</option>
                            <option value="computer_science">Computer Science</option>
                            <option value="cyber">Cyber Security</option>
                        </select>
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <h2>For further information, contact us:</h2>
                <a href>aplikimi@uus.edu.com</a>
                <br>
                <h2>View the study programs</h2>
                <a href="">HERE</a>
            </div>
        </div>
    </body>
</html>