<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Erasmus</title>
    <link rel="stylesheet" href="/static/css/applyerasmus.css">
</head>
<body>
    <% if (successAlert && successAlert.length > 0) { %>
        <div class="alert alert-success" id="success-alert">
            <%= successAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <% if (dangerAlert && dangerAlert.length > 0) { %>
        <div class="alert alert-danger" id="danger-alert">
            <%= dangerAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <div class="wrapper">
        <div class="wrapper-assists">
            <div class="logo">
                <img src="/static/image/erasmuslogo.png" alt="">
            </div>
            <div class="container">
                <div class="first_part both_part">
                    <div class="our_logo">
                        <img  data-tilt data-tilt-glare data-tilt-max-glare="0.8" src="/static/image/logo2.0black.png" alt="">
                    </div>
                </div>
                <div class="second_part both_part">
                    <form action="/apply-erasmus" method="post">
                        <input type="text" name="fullname" placeholder="Full Name:">
                        <input type="text" name="place" placeholder="Place you are interested:">
                        <input type="text" name="semester" placeholder="Semester:">
                        <input type="text" name="dep_id" placeholder="Department:">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
</body>
</html>