<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/apply.css">
    <title>Document</title>
</head>
<body>
   <div class="desktop-1">
      <div class="desktop-1-child"></div>
      <img class="logo-2-icon" alt="" src="/static/image/logo2.0white.png" />

      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="emri-first">Emri | First name</div>
        </div>
        <div class="rectangle-group">
          <div class="group-child"></div>
          <div class="emri-first">Mbiemri | Last name</div>
        </div>
        <div class="rectangle-container">
          <div class="group-child"></div>
          <div class="emri-first">Numri i telefonit | Phone Number</div>
        </div>
        <div class="group-div">
          <div class="group-child"></div>
          <div class="vendbanimi-place">Vendbanimi | Place you live</div>
        </div>
        <div class="rectangle-parent1">
          <div class="group-child"></div>
          <div class="drejtimi-i-shkolles">
            Drejtimi i shkolles se mesme | High school department
          </div>
        </div>
        <div class="rectangle-parent2">
          <div class="group-child"></div>
          <div class="vendbanimi-place">Email adresa | Email</div>
        </div>
        <div class="rectangle-parent3">
          <div class="group-child"></div>
          <div class="niveli-i-studimeve">
            Niveli i studimeve | Level of studies
          </div>
          <img class="fearrow-up-icon" alt="" src="./public/fearrowup.svg" />
        </div>
        <div class="rectangle-parent4">
          <div class="group-child"></div>
          <div class="emri-first">
            Zgjedh drejtimin | Select your study program
          </div>
          <img class="fearrow-up-icon" alt="" src="./public/fearrowup.svg" />
        </div>
      </div>
      <div class="for-further-information">
        For further information, contact us:
      </div>
      <div class="aplikimiuuseducom">aplikimi@uus.edu.com</div>
      <div class="view-the-study">View the study programs</div>
      <div class="here">HERE</div>
      <div class="apply-for-bachelor">Apply for Bachelor & Master</div>
      <div class="desktop-1-item"></div>
      <div class="apply">Apply</div>
    </div>
</body>
</html>