<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Erasmus</title>
    <link rel="stylesheet" href="/static/css/applyerasmus.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>
    <% if (successAlert && successAlert.length > 0) { %>
        <div class="alert alert-success" id="success-alert">
            <%= successAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <% if (dangerAlert && dangerAlert.length > 0) { %>
        <div class="alert alert-danger" id="danger-alert">
            <%= dangerAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <div class="wrapper">
        <div class="wrapper-assist">
            <div class="container">
                <div class="first_part both_part">
                    <div class="our_logo">
                        <img  data-tilt data-tilt-glare data-tilt-max-glare="0.8" src="/static/image/erasmuslogo.png" alt="">
                    </div>
                </div>
                <div class="second_part both_part">
                    <form action="/apply-erasmus" method="post">
                        <input type="text" required name="fullname" placeholder="Full Name:">
                        <input type="text" required name="place" placeholder="Place you are interested:">
                        <select class="status" required name="semester">
                            <option value="" class="" disabled selected>Semester:</option>
                            <option value="winter" >Winter</option>
                            <option value="summer">Summer</option>
                        </select>
                        <select class="status" required name="dep_id">
                            <option value="" class="" disabled selected>Department:</option>
                            <option value="1" >Computer Science</option>
                            <option value="2">Cyber Security</option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
    <script>
        setTimeout(function() {
            $('#success-alert').fadeOut('slow');
        }, 10000);
        setTimeout(function() {
            $('#danger-alert').fadeOut('slow');
        }, 10000);
        $('.close').click(function(){
            $(this).parent().hide();
        });
    </script>   
</body>
</html>