<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrivals</title>
    <link rel="stylesheet" href="/static/css/arrivals.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <div class="wrapper">
        <div class="wrapper-assist">
            <div class="title">
                <h1>How to register?</h1>
                <div class="underline"></div>
            </div>
            <p class="normal-paragraph">
                Any person who has graduated from high school and passed the matriculation test can be a potential candidate for enrollment in USS College.
            </p>
            <div class="lists">
                <h1>The candidate must bring the following documents:</h1>
                <ul>
                    <li>high school diplomas and certificates</li>
                    <li>matriculation test certificate</li>
                    <li>birth certificate, and</li>
                    <li>copy of the identity card</li>
                </ul>
            </div>
            <div class="masters">
                <h1>Enrollment in master's level studies:</h1>
                <h2>
                    There is a master's programme in the same area of studies for people who have passed the undergraduate level in this field of studies. Also, there can be students who meet the candidate's criteria to take part in the educational programs of the specific field. These criteria include:
                </h2>
                <br>
                <ul>
                    <li>
                        Individuals who have had their studies at the undergraduate level in the same field based on the system (240 ECTS) can obtain at least 60 credits at the postgraduate level of the same field to qualify for Master's degree.
                    </li>
                    <br>
                    <li>
                        Other academic disciplines will be included too because they are only required to take exams for basic knowledge on the undergraduate level as long as they do it from their respective study departments. These exams to be finished first a are infamously called Differential Exams.
                    </li>
                    <br>
                    <li>
                        Students, who performed the undergraduate studies with 180 or 240 ECTS credits in a program, which compares with more than 50 % of required master's coursework, have to comply with the clearly defined master's curriculum. They are not obliged to attend supplementary exams due to their academic performance (supplementary exams called differential exams).
                    </li>
                </ul>
            </div>
            <div class="offers">
                <h1>Like no other institution in the country, UUS College offers:</h1>
                <ul>
                    <li>
                        Offer of 10% discount to all candidates who have all grades five (5) during secondary education.
                    </li>
                    <li>
                        Family offer of 10% for all candidates coming from the same family.
                    </li>
                    <li>
                        Motivational scholarship for all candidates who achieve an average grade of studies above 9.5.
                    </li>
                </ul>
            </div>
            <div class="dep">
                <h1>Depending on the cost of tuition in the faculties of USS College, students have the following facilities:</h1>
                <ul>
                    <li>
                        Monthly payment
                    </li>
                    <li>
                        Payment in six installments
                    </li>
                    <li>
                        Payment in four installments
                    </li>
                    <li>
                        Payment in two installments
                    </li>
                </ul>
            </div>
            <div class="college">
                <p>
                    USS College has also created other facilitating circumstances for its students through agreements with various banking institutions, where students can withdraw loans for the payment of tuition costs.
                </p>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>