<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bachelor</title>
    <link rel="stylesheet" href="/static/css/bachelor.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <main class="wrapper">
        <div class="wrapper-assist">
            <p>
                <strong>University of United Students(UUS)</strong> is an institution known for its innovation and commitment to building tomorrow’s leaders. It combines academic excellence with global empowerment, offering programs and degrees that contribute to its academic identity. <strong>UUS</strong> ensures that its students receive an educational curriculum in accordance with the most advanced standards set by this globally recognized institution. Explore the various programs offered by <strong>UUS</strong>, each meticulously designed to provide a unique blend of theoretical foundation and practical experience. <strong>UUS</strong> continues to demonstrate its commitment to fostering innovation and inclusiveness within higher education.
                <br><br><br><br>
                Bachelor study programs offered at <strong>UUS</strong> last 3 years (180 ECTS), or 4 years (240 ECTS) and contain 60 ECTS credits per year. The degree obtained after completing the basic studies is Bachelor of Arts (BA) or Bachelor of Science (BSc).
            </p>
            <div class="container">
                <div class="card">
                    <img src="/static/bachelormaster/computerscience.png" alt="">
                    <h1>Bsc. Computer science</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/cyber.png" alt="">
                    <h1>Bsc. Cyber security</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/law.png" alt="">
                    <h1>BA. Law school</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/marketing.png" alt="">
                    <h1>BA. Marketing</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/graphic design.png" alt="">
                    <h1>Bsc. Graphic design</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/journalist.png" alt="">
                    <h1>BA. Journalist</h1>
                </div>
            </div>
            <div class="second-container">
                <h1>Study & get employed</h1>
                <h2>STUDIES FUNDED BY BUSINESSES</h2>
                <p>
                    Univesity of United Students in cooperation with partner companies offers dual studies according to the German concept, through which students benefit:
                </p>
                <ul>
                    <li>
                        100% financing of studies for 3 years
                    </li>
                    <li>
                        Practical work from the first year
                    </li>
                    <li>
                        Semester exchange with full scholarship in 221 universities in 26 European countries
                    </li>
                    <li>
                        Guaranteed employment after graduation
                    </li>
                </ul>
                <p>
                    Win a SCHOLARSHIP for 3 years of study and start your career now by applying below.
                </p>
            </div>
            <div class="third-container">
                <div class="img-card">
                    <img src="/static/bachelormaster/facebook.png" alt="">
                </div>
                <div class="img-card">
                    <img src="/static/bachelormaster/spacex.png" alt="">
                </div>
                <div class="img-card">
                    <img src="/static/bachelormaster/openai'.png" alt="">
                </div>
                <div class="img-card">
                    <img src="/static/bachelormaster/microsoft.png" alt="">
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer'); %>
</body>
</html>