<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball</title>
    <link rel="stylesheet" href="/static/css/basketball.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <div class="wrapper">
        <div class="container">
            <div class="captain-container">
                <div class="card">
                    <img src="/static/basketballimage/brad.png" alt="">
                    <h1>Brad Waldow</h1>
                    <h2>Center</h2>
                </div>
            </div>
            <div class="other-players-container">
                <div class="card">
                    <img src="/static/basketballimage/samir.png" alt="">
                    <h1>Samir Zekiqi</h1>
                    <h2>Power forward</h2>
                </div>
                <div class="card">
                    <img src="/static/basketballimage/arian.png" alt="">
                    <h1>Arian Qollaku</h1>
                    <h2>Point guard</h2>
                </div>
            </div>
            <div class="other-other-players-container">
                <div class="card">
                    <img src="/static/basketballimage/redney.png" alt="">
                    <h1>Rodney Purvis</h1>
                    <h2>Small forward</h2>
                </div>
                <div class="card">
                    <img src="/static/basketballimage/arti.png" alt="">
                    <h1>Arti Hajdari</h1>
                    <h2>Shooting guard</h2>
                </div>
            </div>
        </div>
        <div class="wrapper-assist">
            <div class="coach-container">
                <div class="card-section">
                    <img src="/static/basketballimage/coach.jpg" alt="">
                    <h1>USS Basketball team coach</h1>
                    <h2>Rami Hadar</h2>
                </div>
                <div class="card-section">
                    <img src="/static/basketballimage/assistans.jpeg" alt="">
                    <h1>USS Basketball team assistant coach</h1>
                    <h2>Andin Rashica</h2>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>