<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <style>
        .wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper-assist{
            width: 1400px;
            padding: 50px 0;
        }
    </style>
</head>
<body>
    <%- include('partials/Elearning'); %>

    <div class="wrapper">
        <div class="wrapper-assist">
            <%- include('partials/CalendarUser'); %>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>