<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/change-pw.css">
</head>
<body>
  <a href="/">
    <img class="Main_logo" src="/static/image/logo2.0black.png" alt="">
  </a>
  <div class="wrapper">
    <form action="">
      <h1>Change Password</h1>
      <div class="input-box">
        <input type="email" placeholder="Email adresa | Email" required>
        <i class='bx bxs-user'></i>
      </div>
      <button type="submit" class="btn" formaction="/confirm-change">Change</button>
      <br>
      <br>
    </form>
  </div>
</body>
</html>
