<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/change-pw.css">
</head>
<body>
  <a href="/">
    <img class="Main_logo" src="/static/image/logo2.0black.png" alt="">
  </a>
  <% if (successAlert && successAlert.length > 0) { %>
    <div class="alert alert-success" id="success-alert">
        <%= successAlert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">X</span>
        </button>
    </div>
<% } %>
<% if (dangerAlert && dangerAlert.length > 0) { %>
    <div class="alert alert-danger" id="danger-alert">
        <%= dangerAlert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">X</span>
        </button>
    </div>
<% } %>
  <div class="wrapper">
    <form action="/auth/reset-password" method="POST">
      <input type="hidden" name="token" value="<%= token %>">
      
      <div class="form-group">
          <label for="newPassword">Enter New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter new password" required>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
  </form>
    
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        setTimeout(function() {
            $('#success-alert').fadeOut('slow');
        }, 10000);
        setTimeout(function() {
            $('#danger-alert').fadeOut('slow');
        }, 10000);
        $('.close').click(function(){
            $(this).parent().hide();
        });
    </script>
</body>
</html>
