<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
    <link rel="stylesheet" href="/static/css/clubs.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <div class="wrapper">
        <div class="wrapper-assist">
            <div class="container">
                <div class="first-card both-cards">
                    <img src="/static/image/football.jpg" alt="">
                    <div class="title">
                        <h1>UUS Football Team(UUSFT)</h1>
                    </div>
                    <div class="buttoni">
                        <a href="/clubs/football">Meet the team</a>
                    </div>
                </div>
                <div class="second-card both-cards">
                    <img src="/static/image/basketballimg.png" alt="">
                    <div class="title">
                        <h1>UUS Basketball Team(UUSBT)</h1>
                    </div>
                    <div class="buttoni">
                        <a href="/clubs/basketball">Meet the team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('partials/footer'); %>
</body>
</html>