<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/static/css/contact-us.css">
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-assist">
            <main class="main">
                <div class="first-container both-containers">
                    <a href="/">
                        <img src="/static/image/logo2.0black.png" alt="">
                    </a>
                    <h1>Contact details</h1>
                    <div class="contact-details">
                        <div class="one same">
                            <img src="/static/image/email.png" alt="">
                            <h1>Info@uus-edu.org</h1>
                        </div>
                        <div class="two same">
                            <img src="/static/image/phone.png" alt="">
                            <h1>+383 12 345 678</h1>
                        </div>
                        <div class="three same">
                            <img src="/static/image/location.png" alt="">
                            <h1>Str. Hasan Prishtina 1,1, Konjuh, Lipjan, 14000, Kosovo</h1>
                        </div>
                    </div>
                </div>
                <div class="second-container both-containers">
                    <h1>CONTACT US</h1>
                    <h3>Let's get in touch</h3>
                    <form action="">
                        <input required type="text" placeholder="Name">
                        <input required type="email" placeholder="Email" name="" id="">
                        <textarea required name="" id="" cols="30" rows="10" placeholder="Send a message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </main>
            <section class="section">
                <h1>Follow us in our social media</h1>
                <div class="socials">
                    <img src="/static/bachelormaster/facebook.png" alt="">
                    <img src="/static/image/instagram.png" alt="">
                    <img src="/static/image/linkedin.png" alt="">
                </div>
            </section>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>