<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/static/css/courses.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <main class="wrapper">
        <div class="wrapper-assist">
            <h1 class="title">Master Studies</h1>
            <p>
                <strong>University of United Students(UUS)</strong> is an institution known for its innovation and commitment to building tomorrow’s leaders. It combines academic excellence with global empowerment, offering programs and degrees that contribute to its academic identity. <strong>UUS</strong> ensures that its students receive an educational curriculum in accordance with the most advanced standards set by this globally recognized institution. Explore the various courses offered by <strong>UUS</strong>, each meticulously designed to provide a unique blend of theoretical foundation and practical experience. <strong>UUS</strong> continues to demonstrate its commitment to fostering innovation and inclusiveness within higher education.
            </p>
            <div class="container">
                <div class="card">
                    <img src="/static/bachelormaster/computerscience.png" alt="">
                    <h1>The Complete Python Bootcamp From Zero to Hero in Python</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/managment.png" alt="">
                    <h1>The Complete 2024 Web Development Bootcamp</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/mechatorics.png" alt="">
                    <h1>[NEW] Ultimate AWS Certified Cloud Practitioner CLF-C02</h1>
                </div>
                
            </div>
            
        </div>
    </main>

    <%- include('partials/footer'); %>
</body>
</html>