<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E - Library</title>
    <link rel="stylesheet" href="/static/css/e-library.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <div class="wrapper">
        <div class="wrapper-assist">
            <div class="title">
                <h1>E - Library</h1>
                <div class="underline"></div>
            </div>
            <div class="container">
                <div class="card"><img src="/static/image/logo2.0black.png"/>
                    <div class="info">
                        <h1>Open Access Law Adopting Journals</h1>
                        <a href="https://wiki.creativecommons.org/wiki/Open_Access_Law_Adopting_Journals">Read more</a>
                    </div>
                </div>

                <div class="card"><img src="/static/image/logo2.0black.png"/>
                    <div class="info">
                        <h1>IMF e-library</h1>
                        <a href="https://www.elibrary.imf.org/">Read more</a>
                    </div>
                </div>

                <div class="card"><img src="/static/image/logo2.0black.png"/>
                    <div class="info">
                        <h1>COVID-19: Guidance for infection prevention and control in healthcare settings.</h1>
                        <a href="https://www.libgen.is/book/index.php?md5=17199B5F5517139B5D9D7292AE76BE4F">Read more</a>
                    </div>
                </div>

                <div class="card"><img src="/static/image/logo2.0black.png"/>
                    <div class="info">
                        <h1>Introduction to Programming Using Java - Eighth Edition</h1>
                        <a href="https://open.umn.edu/opentextbooks/textbooks/introduction-to-programming-using-java-seventh-edition">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>