<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus</title>
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/Navbar_light.css">
    <link rel="stylesheet" href="/static/css/erasmus.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <main class="wrapper">
        <div class="wrapper-assist">
            <div class="links-container">
                <div class="links" id="links">
                    <div class="list-container">
                        <ul class="unordered">
                            <li>
                                <a href="/erasmus">ERASMUS</a>
                            </li>
                            <li>
                                <a href="/partners">TRAVEL INFORMATION</a>
                            </li>
                            <li>
                                <a href="/apply-erasmus">APPLY FOR ERASMUS</a>
                            </li>
                            <li>
                                <a href="/feedback">FEEDBACK & SUGGESTIONS</a>
                            </li>
                        </ul>
                        <div id="hamburger" class="hamburger_undermenu" onclick="toggleMenu()">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                    
                    
                    <div id="container-hidden">
                        <ul id="menu">
                            <li>
                                <a href="/erasmus">ERASMUS</a>
                            </li>
                            <li>
                                <a href="/partners">TRAVEL INFORMATION</a>
                            </li>
                            <li>
                                <a href="/apply-erasmus">APPLY FOR ERASMUS</a>
                            </li>
                            <li>
                                <a href="/feedback">FEEDBACK & SUGGESTIONS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <main class="main-container">
                <div class="parts-container">
                    <div class="first-part both-parts">
                        <p>
                            "Experience the world as an Erasmus student. Explore new cultures, make lifelong friends, and broaden your academic horizons. Join our diverse community and embark on a journey of discovery and personal growth."
                        </p>
                        <img src="/static/image/erasmus2 1.png" alt="">
                        <p>
                            Erasmus students dive into a world of new experiences, where every day brings fresh adventures and discoveries. From navigating unfamiliar streets to savoring local cuisine, they embrace the opportunity to immerse themselves in diverse cultures and traditions.
                        </p>
                        <img src="/static/image/image2 1.png" alt="">
                    </div>
                    <div class="second-part both-parts">
                        <img src="/static/image/erasmus1 1.png" alt="">
                        <p>Erasmus offers a once-in-a-lifetime opportunity for students to immerse themselves in diverse cultures, forge lifelong friendships, and expand their academic horizons. By stepping outside their comfort zones, students can gain invaluable experiences that shape their personal and professional growth, creating memories that last a lifetime.</p>
                        <img src="/static/image/Erasmus_cartelli-639x250-1 1.png" alt="">
                        <p>
                            Erasmus students embrace new experiences, from discovering hidden gems in their host cities to forming connections with people from around the world. Each moment is an opportunity for growth and exploration, fueling their passion for learning and adventure.
                        </p>
                        <br><br>
                        <p>
                            As a matter of fact, Erasmus has made a momentous change in the European education system that has taken place due to the rise of European identity, multilingualism and smart workers coming as a result. Anyway, it still remains an important mechanism boosting internationalization, simplicity of work, and commutation in the domain of education, training, as well as youths’ cooperation.
                        </p>
                    </div>
                </div>
                <section class="requirements">
                    <h1>"Essential Travel Tips for Erasmus Students: Everything You Need to Know Before Going Abroad"</h1>
                    <div class="cards">
                        <div class="cars-requirement">
                            <strong>Visa Requirements:</strong> Research and obtain the necessary visa for your host country before departure. Ensure you understand the application process and any requirements for student visas.
                        </div>
                        <div class="cars-requirement">
                            <strong>Health Insurance:</strong> Confirm that your health insurance coverage is valid abroad. Consider purchasing additional travel insurance to cover medical emergencies and unexpected expenses.
                        </div>
                        <div class="cars-requirement">
                            <strong>Budgeting:</strong> Create a budget for your time abroad, including expenses for accommodation, food, transportation, and leisure activities. Be mindful of currency exchange rates.
                        </div>
                        <div class="cars-requirement">
                            <strong>Accommodation:</strong> Arrange your accommodation in advance to secure a safe and comfortable place to stay. Explore options such as university dormitories, shared apartments, or homestays.
                        </div>
                        <div class="cars-requirement">
                            <strong>Safety Precautions:</strong> Take precautions to ensure your safety while abroad, such as avoiding risky neighborhoods, keeping valuables secure, and being vigilant in crowded areas.
                        </div>
                        <div class="cars-requirement">
                            <strong>Communication:</strong> Stay connected with family and friends back home by setting up international calling and data plans or using messaging apps with Wi-Fi connectivity.
                        </div>
                    </div>
                </section>

                <section class="apply_erasmus">
                    <h1> Join the Erasmus Community: Study Abroad and Apply Now!</h1>
                    <p>
                        Are you eager to immerse yourself in new cultures, broaden your academic horizons, and make lifelong connections from around the globe? Then, it's time to embark on an unforgettable journey with the Erasmus community!
                        <br><br>
                        Studying abroad through the Erasmus program offers unparalleled opportunities for personal and academic growth. Whether you're interested in exploring historic European cities, delving into cutting-edge research, or mastering a new language, Erasmus opens doors to endless possibilities.
                        <br><br>
                        By becoming a part of the Erasmus community, you'll not only enrich your educational experience but also gain valuable skills, perspectives, and memories that will last a lifetime. From building international friendships to gaining a deeper understanding of global issues, your Erasmus journey will shape you in ways you never imagined.
                        <br><br>
                        If you're ready to take the next step towards studying abroad with Erasmus, don't hesitate to apply now! Click here to begin your adventure. <a href="/apply">[Apply Here]</a>
                    </p>
                </section>
            </main>
        </div>
    </main>


    <%- include('partials/footer'); %>

    <script src="/static/js/Navbar_Light.js"></script>
    <script>
    var path = window.location.pathname;
    var links = document.querySelectorAll('.links a');

    for (var i = 0; i < links.length; i++) {
        var href = links[i].getAttribute('href');
        if(path.includes(href)) {
            links[i].classList.add('active');
        }
    }
    function toggleMenu() {
    var menu = document.getElementById('container-hidden');
    var hamburger = document.getElementById('hamburger');
    var links = document.getElementById('links');
    
    if (menu.style.display === 'none') {
        menu.style.display = 'block';
        hamburger.classList.add('active_ham');
        links.classList.add('active_links');
    } else {
        menu.style.display = 'none';
        hamburger.classList.remove('active_ham');
        links.classList.remove('active_links');
    }
}



    </script>
</body>
</html>