<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="/static/css/feedback.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>
    <% if (successAlert && successAlert.length > 0) { %>
        <div class="alert alert-success" id="success-alert">
            <%= successAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <% if (dangerAlert && dangerAlert.length > 0) { %>
        <div class="alert alert-danger" id="danger-alert">
            <%= dangerAlert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    <% } %>
    <div class="title-wrapper">
        <h1>Feedback & Suggestions</h1>
    </div>
    <div class="wrapper">
        <div class="wrapper-assist">
            <p>
                Thank you for your participation in improving the Erasmus experience. Your feedback helps us enhance our services and ensure that Erasmus participants worldwide have an enriching and fulfilling journey. Please take a moment to share your thoughts with us.
            </p>
            <div class="forma">
                <form action="/feedback" method="POST">
                    <div class="optional-inputs">
                        <input type="text" id="name" placeholder="Name (optional)" name="name" >
                        <input type="email" id="lastname" placeholder="Email (optional)" name="lastname">
                    </div>
                    <p>
                        How satisfied are you with the overall user experience of the Erasmus webpage?
                    </p>
                    <div class="checkboxes">
                        <input type="radio" name="rating" value="3" id="myRadio1" class="radio1" />
                        <label for="myRadio1"></label>

                        <input type="radio" name="rating" value="3" id="myRadio2" class="radio2" />
                        <label for="myRadio2"></label>

                        <input type="radio" name="rating" value="3" id="myRadio3" class="radio3" />
                        <label for="myRadio3"></label>
                        
                    </div>
                    <p>
                        What specific information were you seeking when you visited the Erasmus webpage?
                    </p>
                    <div class="checkboxes-container">
                        <div class="inside-check">
                            <div class="inputas">
                                <input type="checkbox" name="more_info" value="Information about Erasmus Exchange Programs" id="">
                                <h1>Information about Erasmus Exchange Programs</h1>
                            </div>
                            <div class="inputas">
                                <input type="checkbox" name="more_info" value="Scholarship Opportunities" id="">
                                <h1>Scholarship Opportunities</h1>
                            </div>
                            <div class="inputas">
                                <input type="checkbox" name="more_info" value="Health and Safety Information" id="">
                                <h1>Health and Safety Information</h1>
                            </div>
                            <div class="inputas">
                                <input type="checkbox" name="more_info" value="Accommodation and Living Arrangements" id="">
                                <h1>Accommodation and Living Arrangements</h1>
                            </div>
                            <div class="inputas">
                                <input type="checkbox" name="more_info" value="Others" id="">
                                <h1>Others</h1>
                            </div>
                        </div>
                    </div>
                    <p>
                        Did you experience any technical difficulties while using the Erasmus webpage?
                    </p>
                    <div class="difficulties">
                        <label class="radio-button">
                            <input type="radio" name="difficulties" value="yes">
                            <span class="radio"></span>
                            Yes
                        </label>
                        
                        <label class="radio-button">
                            <input type="radio" name="difficulties" value="no">
                            <span class="radio"></span>
                            No
                        </label>
                    </div>
                    <p>
                        On a scale of 1 to 10, how satisfied are you with how well the Erasmus webpage functions on different devices like desktops and mobile phones?
                    </p>
                    <div class="rating-1">
                        <input placeholder="Choose between 1 and 10" type="number" id="rating_satisfied" name="rating_satisfied" min="1" max="10">
                    </div>
                    <p>
                        Would you recommend the Erasmus webpage/university website to others?
                    </p>
                    <div class="difficulties">
                        <label class="radio-button">
                            <input type="radio" name="recommend" value="yes">
                            <span class="radio"></span>
                            Yes
                        </label>
                        
                        <label class="radio-button">
                            <input type="radio" name="recommend" value="no">
                            <span class="radio"></span>
                            No
                        </label>
                    </div>
                    <p>
                        If you have any feedback, suggestions, or ideas that were not covered in our questions, please feel free to share them in the text box below. We value your input and welcome any additional insights you may have to help us improve the Erasmus webpage.
                    </p>
                    <div class="textarea">
                        <textarea name="text_box" placeholder="Text box for your comments/suggestions" id=""></textarea>
                    </div>
                    <div class="submit">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer'); %>
    <script>
        setTimeout(function() {
            $('#success-alert').fadeOut('slow');
        }, 10000);
        setTimeout(function() {
            $('#danger-alert').fadeOut('slow');
        }, 10000);
        $('.close').click(function(){
            $(this).parent().hide();
        });
    </script>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>