<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football</title>
    <link rel="stylesheet" href="/static/css/football.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <div class="wrapper">
        <div class="container">
            <div class="captain-container">
                <div class="captain card">
                    <img src="/static/playersimage/lorik.png" alt="">
                    <h1>Lorik Cana</h1>
                    <h2>Team Captain</h2>
                </div>
            </div>
            <div class="other-players-container">
                <div class="captain card">
                    <img src="/static/playersimage/milot.png" alt="">
                    <h1>Milot Rashica</h1>
                    <h2>Attacking middlefield</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/xherdan.png" alt="">
                    <h1>Xherdan Shaqiri</h1>
                    <h2>Winger</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/granit.png" alt="">
                    <h1>Granit Xhaka</h1>
                    <h2>Midfielder</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/vedat.png" alt="">
                    <h1>Vedat Muriqi</h1>
                    <h2>Striker</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/mergim.png" alt="">
                    <h1>Mërgim Vojvoda</h1>
                    <h2>Defensive midfielder</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/amir.png" alt="">
                    <h1>Amir Rrahmani</h1>
                    <h2>Centre-back</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/florent.png" alt="">
                    <h1 style="font-size: 17px;">Florent Hadergjonaj</h1>
                    <h2>Right back</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/ariajet.png" alt="">
                    <h1>Arijanet Muric</h1>
                    <h2>Goalkeeper</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/edon.png" alt="">
                    <h1>Edon Zhegrova</h1>
                    <h2>Right winger</h2>
                </div>
                <div class="card">
                    <img src="/static/playersimage/florian.png" alt="">
                    <h1>Florian Loshaj</h1>
                    <h2>Midfielder</h2>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>