<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <link rel="stylesheet" href="/static/css/grades.css">
</head>
<body>
    <%- include('partials/Elearning'); %>
    <div class="wrapper">
        <div class="wrapper-assist">
            <h1>gradesa</h1>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>