<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>UUS</title>
</head>

<body>
    <video autoplay muted loop>
        <source src="/static/image/pexels-olia-danilevich-8061030 (1080p).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <%- include('partials/Navbar'); %>
    <main class="main-text">
        <section class="main-text-container">
            <h1 class="welcome-text main-text-home">Welcome to UUS</h1>
            <h3 class="welcome-quote main-text-home">Where journey of a thousand miles begins with a single step</h3>
        </section>
    </main>
    <aside class="Left-buttons">
        <section class="button_container">
            <a href="/erasmus">Erasmus</a>
            <a>Our partners</a>
            <a>Adventures of Students</a>
        </section>
    </aside>
    <main class="wrapper">
        <section class="wrapper-assist">
            <article class="About_UUS">
                <section class="About_USS_text About_section_select">
                    <h1>About UUS</h1>
                    <p>Our university is at the cutting edge of innovation, fostering the flame of technology. In this arena the discoverers of tomorrow create the future. Staying at the forefront of the latest research and maintaining a supportive collaborative environment is at the heart of our mission. Whether in labs or classrooms, we will fan the flames of the future inventors. Connect with us where it all starts and the horizon has no bounds.
                    </p>
                </section>
                <section class="About_USS_image About_section_select">
                    <img src="/static/image/Innovating First Our University Sets the Pace. (1).png" alt="">
                </section>
            </article>
            <article class="Study_programs">
                <h1>Study programs</h1>
                <div class="slideshow-container">
                    <div class="mySlides fade-slider">
                        <img src="/static/image/students.png" style="width:100%">
                        <div class="title">Bachelor</div>
                        <div class="text">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                            <br>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                        </div>
                        <div class="button_learn">
                            <a href="/bachelor">
                                Learn more <span><img src="/static/image/mdi_arrow-up-bold.png" alt=""></span>
                            </a>
                        </div>
                    </div>
                    
                    <div class="mySlides fade-slider">
                        <img src="/static/image/students.png" style="width:100%">
                        <div class="title">Master</div>
                        <div class="text">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                <br>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                        </div>
                        <div class="button_learn">
                            <a href="/master">
                                Learn more <span><img src="/static/image/mdi_arrow-up-bold.png" alt=""></span>
                            </a>
                        </div>
                    </div>
                    
                    <div class="mySlides fade-slider">
                        <img src="/static/image/students.png" style="width:100%">
                        <div class="title">Courses</div>
                        <div class="text">
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                            <br>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                        </div>
                        <div class="button_learn">
                            <a href="/courses">
                                Learn more <span><img src="/static/image/mdi_arrow-up-bold.png" alt=""></span>
                            </a>
                        </div>
                    </div>
                    
                    <a class="prev" onclick="plusSlides(-1)"><img src="/static/image/oui_arrow-up.png" alt=""></a>
                    <a class="next" onclick="plusSlides(1)"><img src="/static/image/oui_arrow-up.png" alt=""></a>
                    <div class="dot_container" style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span> 
                        <span class="dot" onclick="currentSlide(2)"></span> 
                        <span class="dot" onclick="currentSlide(3)"></span> 
                    </div>
                </div>
            </article>
            <article class="Facts_UUS">
                <h1>Facts about University of United Students</h1>
                <section class="icon_container">
                    <div class="student_icon icon_div">
                        <img src="/static/image/ph_student-bold.png" alt="">
                        <h1>THE LARGEST NUMBER OF STUDENTS IN KOSOVO</h1>
                    </div>
                    <div class="uni_icon icon_div">
                        <img src="/static/image/R 1.png" alt="">
                        <h1>THE LARGEST PUBLIC UNIVERSITY  IN  KOSOVO</h1>
                    </div>
                    <div class="inovation_icon icon_div">
                        <img src="/static/image/Innovation-Icon-Transparent-PNG 1.png" alt="">
                        <h1>#1 IN TECHNOLOGY AND INNOVATION</h1>
                    </div>
                </section>
            </article>
            <article class="Photo_Galery">
                <div class="half_part_galery HalfG">
                    <h1>Explore UUS</h1>
                    <h3>A closer look for the curious</h3>
                    <div class="container-div-galery divs_galery">
                        <div class="uss-law-div applied_ga">
                            <h2>UUS Law school</h2>
                            <a href="">Explore the school</a>
                        </div>
                        <div class="erasmus-div applied_ga">
                            <h2>Erasmus Students</h2>
                            <a href>See the world</a>
                        </div>
                    </div>
                    
                    <div class="working-div divs_galery">
                        <img src="/static/image/working2.jpeg" alt="">
                        <h2>Working at UUS</h2>
                        <p>Discover UUS, where learning means doing. With hands-on projects and real-world experience, our students drive impactful change. Join us and shape your future at UUS.</p>
                        <a href="">Explore a career</a>
                    </div>
                </div>
                <div class="section_part_galery HalfG">
                    <div class="athletics_section divs_galery">
                        <img src="/static/image/athletics.png" alt="">
                        <h2>Athletics</h2>
                        <p>As a part of its athletic tradition, UUS sponsors over 20 varsity teams, offering male and female athletes the opportunity to test their skill and valor in intercollegiate competition.</p>
                        <a href="/clubs">MEET THE TEAMS</a>
                    </div>
                    <div class="uus_college divs_galery">
                        <img src="/static/image/college2.png" alt="">
                        <h2>USS COLLEGE</h2>
                        <a href="/college">Explore the college</a>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <section class="apply_footer">
        <h1>"Begin your journey with UUS. Apply now and let's build your brighter future together!"</h1>
        <article class="apply_section">
            <img src="/static/image/uus3.png" alt="">
            <div class="apply_container">
                <div class="apply_forma">
                    <h1>Apply Now</h1>
                    <p>"Ready to begin your academic journey at UUS ? Apply online now to start the process. After your application, our dedicated staff will reach out to assist you with registration procedures, ensuring a seamless transition into your chosen program. Don't miss out – seize the opportunity to shape your future with UUS today!"</p>
                    <a href="/apply">Apply now <img src="/static/image/mdi_arrow-up-bold.png" alt=""></a>
                </div>
            </div>
        </article>
    </section>

    <%- include('partials/footer'); %>

</body>
<script>
    AOS.init();
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/Navbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</html>