<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Navbar_light.css">
    <link rel="stylesheet" href="/static/css/Footer.css">
    <link rel="stylesheet" href="/static/css/international-awards.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <main class="wrapper">
        <div class="wrapper-assist">
            <div class="card-award same-card">
                <img src="/static/image/Rectangle 211.png" alt="">
                <div class="inside-div">
                    <h1 class="Name">Dean of UUS</h1>
                    <h1 class="Desc">Reward of the best kebab cooker</h1>
                </div>
                <h3>Peja 2012</h3>
            </div>
            <div class="card-award-2 same-card"  >
                <img src="/static/image/Rectangle 212.png" alt="">
                <div class="inside-div">
                    <h1 class="Name">Professor of UUS</h1>
                    <h1 class="Desc">Reward of the best political geek</h1>
                </div>
                <h3>Lipjan 2020</h3>
            </div>
        </div>
    </main>


    <%- include('partials/footer'); %>
    
    <script src="/static/js/Navbar_Light.js"></script>
</body>
</html>