<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <a href="/">
    <img class="Main_logo" src="/static/image/logo2.0black.png" alt="">
  </a>
  <div class="wrapper">
    <form action="/login" method="post">
      <h1>Login</h1>
      <div class="input-box">
        <input type="email" placeholder="Email adresa | Email" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Fjalkalimi | Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <br>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
        <a href ="/change-pw">
          <u>Forgot Password?</u>
        </a>
      </div>
      <br>
      <button type="submit" class="btn">Login</button>
      <br>
      <br>
    </form>
  </div>
</body>
</html>
