<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bachelor</title>
    <link rel="stylesheet" href="/static/css/master.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <main class="wrapper">
        <div class="wrapper-assist">
            <h1 class="title">Master Studies</h1>
            <p>
                <strong>University of United Students(UUS)</strong> is an institution known for its innovation and commitment to building tomorrow’s leaders. It combines academic excellence with global empowerment, offering programs and degrees that contribute to its academic identity. <strong>UUS</strong> ensures that its students receive an educational curriculum in accordance with the most advanced standards set by this globally recognized institution. Explore the various programs offered by <strong>UUS</strong>, each meticulously designed to provide a unique blend of theoretical foundation and practical experience. <strong>UUS</strong> continues to demonstrate its commitment to fostering innovation and inclusiveness within higher education.
                <br><br><br><br>
                The Master study programs offered by <strong>UUS</strong> last 2 years and contain 120 ECTS credits, in case the previous education was a 3-year system with 180 ECTS credits. After completing the Master's studies, the degree that the student earns is Master of Arts (MA) or Master of Science (MSc).
            </p>
            <div class="container">
                <div class="card">
                    <img src="/static/bachelormaster/computerscience.png" alt="">
                    <h1>Msc. Data Science</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/managment.png" alt="">
                    <h1>MA. Managment</h1>
                </div>
                <div class="card">
                    <img src="/static/bachelormaster/mechatorics.png" alt="">
                    <h1>Msc. Mechatronics Engineering</h1>
                </div>
                
            </div>
            <div class="second-container">
                <h1>Study & get employed</h1>
                <h2>STUDIES FUNDED BY BUSINESSES</h2>
                <p>
                    Univesity of United Students in cooperation with partner companies offers dual studies according to the German concept, through which students benefit:
                </p>
                <ul>
                    <li>
                        100% financing of studies for 3 years
                    </li>
                    <li>
                        Practical work from the first year
                    </li>
                    <li>
                        Semester exchange with full scholarship in 221 universities in 26 European countries
                    </li>
                    <li>
                        Guaranteed employment after graduation
                    </li>
                </ul>
                <p>
                    Win a SCHOLARSHIP for 3 years of study and start your career now by applying below.
                </p>
            </div>
            <div class="third-container">
                <div class="img-card">
                    <img src="/static/bachelormaster/facebook.png" alt="">
                </div>
                <div class="img-card">
                    <img src="/static/bachelormaster/spacex.png" alt="">
                </div>
                <div class="img-card">
                    <img src="/static/bachelormaster/openai'.png" alt="">
                </div>
                <div class="img-card">
                    <img src="/static/bachelormaster/microsoft.png" alt="">
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer'); %>
</body>
</html>