<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Programs</title>
    <link rel="stylesheet" href="/static/css/studyprograms.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>
    <div class="wrapper">
        <div class="wrapper-assist">
            <img src="/static/image/programs.png" alt="">
            <h1>
                Welcome to UUS University, where the unity and excellence are the two elements that combine to create the futures of the united students. Our school has proudly got empowered with high academic acumen and holistic development with the main areas of focus being computer science and cybersecurity, which are the two disciplines that define cutting-edge digital landscape. 
            </h1>
            <div class="container">
                <div class="card">
                    <img src="/static/image/Scholarcap scroll.png" alt="">
                    <h1>Bachelor</h1>
                    <a href="/bachelor">See more</a>
                </div>
                <div class="card">
                    <img src="/static/image/Lamp.png" alt="">
                    <h1>Master</h1>
                    <a href="/master">See more</a>
                </div>
                <div class="card">
                    <img src="/static/image/Book.png" alt="">
                    <h1>Courses</h1>
                    <a href="/courses">See more</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>