<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" href="/static/css/transfer.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <main class="wrapper">
        <div class="background-image">
            <img src="/static/image/unioutsideedit.png" alt="">
        </div>
        <div class="wrapper-assist">
            <h1>Transfer studes to UUS</h1>
            <h2>In 3 simple steps</h2>
            <div class="container">
                <div class="part-1 all-parts">
                    <h1>First Step</h1>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum orci eu feugiat venenatis. Quisque vehicula lacinia feugiat. Sed nisi purus.</p>
                    </div>
                </div>
                <div class="part-2 all-parts">
                    <h1>Second Step</h1>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum orci eu feugiat venenatis. Quisque vehicula lacinia feugiat. Sed nisi purus.</p>
                    </div>
                </div>
                <div class="part-3 all-parts">
                    <h1>Thirds Step</h1>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum orci eu feugiat venenatis. Quisque vehicula lacinia feugiat. Sed nisi purus.</p>
                    </div>
                </div>
            </div>
            <div class="buttoni">
                <a href="/apply">Apply</a>
            </div>
        </div>
    </main>


    <%- include('partials/footer'); %>
</body>
</html>