<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College</title>
    <link rel="stylesheet" href="/static/css/workat-uus.css">
</head>
<body>
    <%- include('partials/Navbar-light'); %>

    <div class="wrapper">
        <div class="wrapper-assist">
            <div class="links-container">
                <div class="links" id="links">
                    <div class="list-container">
                        <ul class="unordered">
                            <li>
                                <a href="/workat-uus">WORK AT UUS</a>
                            </li>
                            <li>
                                <a href="#">EMPLOYEE BENEFITS</a>
                            </li>
                            <li>
                                <a href="#">RESEARCH SUPPORT</a>
                            </li>
                            <li>
                                <a href="#">EMPLOYMENT OPPORTUNITIES</a>
                            </li>
                        </ul>
                        <div id="hamburger" class="hamburger_undermenu" onclick="toggleMenu()">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                    
                    
                    <div id="container-hidden">
                        <ul id="menu">
                            <li>
                                <a href="/workat-uus">WORK AT UUS</a>
                            </li>
                            <li>
                                <a href="#">EMPLOYEE BENEFITS</a>
                            </li>
                            <li>
                                <a href="#">RESEARCH SUPPORT</a>
                            </li>
                            <li>
                                <a href="#">EMPLOYMENT OPPORTUNITIES</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="backgroud-container">
                <div class="part-one part">
                    <h1>WORK AT UUS</h1>
                    <br>
                    <p>
                        "Step into a world of opportunity at UUS University. With each workday, we're shaping futures and fostering growth. Join us in a dynamic community dedicated to excellence and collaboration."                    </p>
                </div>
                <div class="part-two part"></div>
            </div>
            <div class="campus">
                <h1>At UUS, your work has meaning
                    you contribute to our mission of improving the world today and for future generations.
                </h1>
                <br>
                <p>
                    UUS University provides a wealth of opportunities for professional growth and development, fostering an environment where individuals can thrive and reach their full potential. From faculty positions to administrative roles, research opportunities, and staff positions, UUS offers a diverse range of career paths across various disciplines.

                    Whether you're a seasoned professional or just starting your career, UUS values talent, innovation, and dedication. With access to state-of-the-art facilities, cutting-edge research initiatives, and a supportive community of colleagues and mentors, working at UUS opens doors to endless possibilities.
                    Join us at UUS University and embark on a rewarding journey where every day presents new opportunities for learning, advancement, and making a meaningful impact.
                </p>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); %>
    <script>
        var path = window.location.pathname;
        var links = document.querySelectorAll('.links a');
    
        for (var i = 0; i < links.length; i++) {
            var href = links[i].getAttribute('href');
            if(path.includes(href)) {
                links[i].classList.add('active');
            }
        }
        function toggleMenu() {
        var menu = document.getElementById('container-hidden');
        var hamburger = document.getElementById('hamburger');
        var links = document.getElementById('links');
        
        if (menu.style.display === 'none') {
            menu.style.display = 'block';
            hamburger.classList.add('active_ham');
            links.classList.add('active_links');
        } else {
            menu.style.display = 'none';
            hamburger.classList.remove('active_ham');
            links.classList.remove('active_links');
        }
    }
    </script>
</body>
</html>