body{
    width: 100%;
    height: 100vh;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-assist{
    width: 1400px;
    height: auto;
    padding: 50px 0;
}
.title{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.title > h1{
    font-size: 40px;
    color: #000;
    font-weight: 500;
}
.title > .underline{
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: #004492;
    position: relative;
    bottom: 20px;
}
.wrapper-assist > p{
    font-size:32px;
    font-weight: 500;
    text-align: justify;
    padding: 60px 0;
}