*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-assist{
    width: 1400px;
    height: auto;
    padding: 50px 0;
}
.title{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.title > h1{
    font-size: 40px;
    color: #000;
    font-weight: 500;
}
.title > .underline{
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: #004492;
    position: relative;
    bottom: 20px;
}

.wrapper-assist > p{
    font-size:32px;
    font-weight: 500;
    text-align: justify;
    padding: 60px 0;
}
.chat-opener{
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: #004492;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chat-container{
    display: none;
}
.inside-container-chat{
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 300px;
    height: 500px;
    background-color: #BEBEBE;
}
.chat{
    height: 100px;
    background-color: #E5E4E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.chat > img{
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}
.parent{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.bot-message{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}
.bot-message > img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}
.bot-message > p{
    margin-top: 7px;
    font-size: 15px;
    background-color: #ececec;
    border-radius: 5px;
    padding: 2px;
}
#options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    padding: 0 30px;
}
