*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bold{
    font-weight: 600;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #EDEDED;
    position: relative;
}
.container{
    position: relative;
}
.back{
    width: 100% !important;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: relative;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-assist{
    width: 1400px;
    height: auto;
    padding: 50px 0;
}

.text{
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 20px;
    right: 50px;
}
.text > h1{
    font-size: 40px;
    color: #fff;
}
.wrapper-assist > h1{
    font-size: 24px;
    color: #000;
    text-align: center;
}

.row{
    width: 100%;
    height: auto;
    display: flex;
    margin: 100px 0;
}

.both-parts{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}
.both-parts > img{
    width: 100% ;
}

.both-parts>h1{
    font-size: 35px;
    font-weight: 600;
}
.both-parts > p{
    font-size: 30px;
}
.start > img{
    width: 100%;
    padding-right: 50px;
}

.container-infomations{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin: 50px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card > section{
    position: absolute;
    bottom: -30px;
    background-color: #d1d1d1;
    width: 285px;
    height: 175px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.card > section > h1{
    font-size: 28px;
    font-weight: 600;
}
.card > section > p{
    font-size: 25px;
}
.card > section > p > button{
    font-size: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}
.card > section > p > button:hover{
    color: #004492;
}
.card > section > hr{
    height: 3px;
    background-color: #000;
    border: none;
    outline: none;
}



#chat-box::-webkit-scrollbar {
    width: 7px;
}

#chat-box::-webkit-scrollbar-track {
    background-color: transparent;
}

#chat-box::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #004492;
}
#chat-box::-webkit-scrollbar-thumb:hover{
    background-color: #01346e;
}
.chat-opener{
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: #004492;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chat-container{
    display: none;
}
.inside-container-chat{
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 300px;
    height: 500px;
    background-color: #dddddd;
    border-radius: 10px;
}
.chat{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100px;
    background-color: #cecece;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.chat > img{
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}
#chat-box{
    height: 380px;
    overflow: auto;
    padding-right: 10px;
}
.parent{
    width: 100%;
}
.bot-message{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}
.bot-message > img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 4px 10px;
}
.bot-message > p{
    margin-top: 7px;
    font-size: 15px;
    background-color: #ececec;
    border-radius: 5px;
    padding: 2px;
}
.bot-message > p > ul{
    padding-left: 20px;
}
#options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;
    bottom: 10px;
    padding: 0 30px;
}
#options > button{
    width: 100px;
    background-color: #ffffff;
    padding: 5px 0;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
}
#options > button:hover{
    background-color: #d4d4d4;
}




@media screen and (max-width:785px){
    .container-infomations{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:800px){
    .text > h1{
        font-size: 20px;
    }
}

@media screen and (max-width:999px){
    .row{
        display: flex;
        flex-direction: column;
    }
    .both-parts{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .start > img{
        padding: 0;
    }
}


@media screen and (max-width:1400px) {
    .wrapper{
        padding: 50px 20px;
    }
    .unordered > li > a{
        font-size: 25px;
    }
    .news-card > p{
        font-size: 20px;
    }
}

