.desktop-1{
  background-color: #F1F1F1;
}
.desktop-1-child{
  background-color: #262626;
  position: absolute;
  top: 146px;
  left: 333px;
  border-radius: 15;
  background-color: #262626;
  width: 866px;
  height: 1081px;
}