*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato",sans-serif;
}

.desktop-1-child{
  position: absolute;
  top: 146px;
  left: 333px;
  border-radius: 15;
  background-color: #262626;
  width: 866px;
  height: 1081px;
}
.alert{
  position: fixed;
  top: 10px;
  right: 10px;
  background-color:#4cbb17 ;
  color: #fff;
  padding: 20px 30px;
  font-weight: 500;
  border-radius: 10px;
  z-index: 999;
}
.close{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 50px;
  height: 40px;
  font-size: 25px;
}
.alert-danger{
  background-color: rgb(255, 64, 64);
}
body {
  min-height: 100vh;
}
.wrapper {
  padding: 40px 0;
}
.apply_container {
  background-color: #262626;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
.logo {
  margin-bottom: 25px;
  text-align: center;
}
.logo img {
  max-height: 80px;
}
h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}
.form-floating {
  margin-bottom: 1rem;
}
.contact-info {
  text-align: center;
  margin-top: 30px;
}