*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 100vh;
    background: no-repeat url('/static/image/basketballbc.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}
.card{
    width: 223px;
    height: 223px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card > h1{
    font-size: 24px;
    color: #fff;
}
.card > h2{
    font-size: 15px;
    color: #fff;
}
.captain-container{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-players-container{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.other-other-players-container{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper-assist{
    width: 1400px;
    padding: 50px 0px;
}
.coach-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-section{
    width: 392px;
    height: 380px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
    position: relative;
    padding: 0px;
    margin: 0;
}
.card-section > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-section > h1{
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    text-shadow: 0 0 10px black;
    color: #fff;
}
.card-section > h2{
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    text-shadow: 0 0 10px black;
    color: #fff;
}
@media screen and (max-width:650px) {
    .container{
        padding: 20px 0px;
        height: auto;
    }
    .other-players-container,
    .other-other-players-container{
        height: auto;
        flex-direction: column;
    }
    .other-players-container > .card,
    .other-other-players-container > .card{
        margin: 20px 0;
    }
    
}
@media screen and (max-width:1400px) {
    .wrapper-assist{
        width: 100%;
        padding: 50px 20px;
    }
}
@media screen  and (max-width:830px){
    .coach-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-section{
        margin: 50px 0;
    }
}