* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100vh;
    background-color: #EDEDED;
    position: relative;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-assist{
    width: 1400px;
    padding: 50px 0;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}
main{
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main > h1{
    color: #fff;
    font-size: 94px;
    font-weight: 500;
}
main > a{
    padding: 10px 20px;
    border: 3px solid #fff;
    font-weight: 36px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}
.wrapper-assist > h1{
    text-align: center;
    font-size: 50px;
}
.wrapper-assist > h2{
    text-align: center;
    font-size: 30px;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container > .card{
    width: 400px;
    height: 400px;
    background-image: url('/static/image/news5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > .card > h1{
    color: #fff;
    text-shadow: 0 1px 10px black;
}
.graphic{
    background-image: url('/static/image/graphic.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cyber{
    background-image: url('/static/image/cyber.png') !important; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width:880px) {
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container > .card{
        width: 100%;
    }
    main > h1{
        font-size: 50px;
    }
}
@media screen and (max-width:1400px){
    .wrapper-assist{
        width: 100%;
        padding: 50px 20px;
    }
}