*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.additional-information > h1{
    margin: 40px;
}
.additional-information > h1 > span{
    background-color: #373737;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-transform: capitalize;
}
.additional-information > h3{
    margin: 20px 40px;
}
.container{
    min-width: 400px;
    height: 400px;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.container > form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container > p{
    color: #fff;
    margin: 20px;
}
.container > form > input{
    border: 1px solid gray;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    width: 100%;
}
.container > form > input:focus{
    outline: none;
}
.container > form > label{
    color: #fff;
}
.container > form > button{
    background-color: #004492;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}