*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  .wrapper{
    width: 1440px;
    display: flex;
  }
  .Main_logo{
    width: 50%;
  }
  .wrapper h1{
    font-size: 23px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  .both-parts{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .first-part > a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form{
    background-color: #262626;
    padding: 40px 60px;
    border-radius: 10px;
    width: 100%;
  }
  form > h1{
    color: #fff;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: #E8E8E8;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #676767;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: #676767;
  }
  .input-box i{
    position: absolute;
    background-color: E8E8E8;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  }
  .remember-forgot a{
    color: #4285F4;
    text-decoration: none;
  }
  .remember-forgot > label{
    color: #fff;
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #E8E8E8;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
  }
  .wrapper .btn:hover{
    background-color: #004492;
    color: #fff;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.nav-logo > img{
    height: 114px;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
}
.span{
  height: 30px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width:768px) {
  .Main_logo{
    width: 300px;
  }
}
@media screen and (max-width:1400px){
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} 
@media screen and (max-width: 1000px) {
  .both-parts{
    width: 100%;
  }
}