*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
}
.left-side{
    width: 25%;
    background-color: #E1E1E1;
}
.topSide,
.bottomSide{
    height: 50%;
}
.bottomSide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding: 20px;
}
.bottomSide > a{
    color: #000;
    text-decoration: none;
    font-size: 30px;
}
.bottomSide > form > input{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.right-side{
    width: 75%;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo > a > img{
    width: 300px;
}
.tabs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}
.tabs > button{
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.tabs > button > img {
    padding-right: 15px;
    width: 48px;
}

.main-container{width: 100%;}

.apply_wrapper{
    width: 100%;
    height: 400px;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow: auto;
}

.apply_card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF ;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    margin: 50px 100px ;
}
.apply_name{
    margin: 10px 0;
}
.apply_name > span{
    background-color: #373737;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-transform: capitalize;
}
.second-part{
    width: 100%;
    display: flex;
    justify-content: end;
}
.second-part >select{
    background-color: #004492;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

.second-part > select:focus{
    outline: none;
}
table, th, td {
    color: #000;
    border:1px solid black;
    background-color: #fff;
    padding: 5px;
}
.statistics{
    width: 100%;
    background-color: #373737;
    display: flex;
    align-items: center;
    min-height: 300px;
    color: #fff;
}
.statistics-both{
    width: 50%;
}
.statistics-part-one{
    padding-left: 20px;
}
.statistics-part-one > h1{
    margin: 20px 0;
}
.statistics-part-two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats{
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}
.feedback{
    width: 100%;
    height: 400px;
    padding: 40px;
    background-color: #373737;
    overflow: auto;
}
.feedback-support{
    width: 100%;
    height: 400px;
    padding: 40px;
    background-color: #373737;
    display: flex;
}
.feedback-inside-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feedback-card{
    width: 300px;
    height: 300px;
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}
.feedback-card > h1{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid black;
}
.feedback-one{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.both-part-one{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #fff;
}
.both-part-one > h1{
    color: #fff;
    font-size: 25px;
    padding-bottom: 20px;
}
.both-part-one > span{
    background-color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
}
.feedback-two{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feedback-two-container > h1,
.both-part-two > h1{
    font-size: 20px;
    margin: 20px 0;
}
.counts{
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    border-radius: 10px;
}
.text-counts,
.yes-no-counts{
    color: #fff;
}

.feedback-three{
    width: 30%;
}
.both-part-two{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #fff;
}
.both-part-two > h2{
    color: #fff;
    font-size: 25px;
}
.counts-yn{
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}
.new-erasmus-container{
    width: 100%;
    height: 400px;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow: auto;
    padding: 50px;
}
.card-apply-erasmus{
    width: 600px;
    background-color: #fff;
    height: 300px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}
.emri-delete{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.emri-delete > span{
    background-color: #373737;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-transform: capitalize;
}
.emri-delete > form > button{
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.card-apply-erasmus > h1{
    font-size: 25px;
}

.alert{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color:#4cbb17 ;
    color: #fff;
    padding: 20px 30px;
    font-weight: 500;
    border-radius: 10px;
    z-index: 100000;
}
.close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 50px;
    height: 40px;
    font-size: 25px;
}
.alert-danger{
    background-color: rgb(255, 64, 64);
}



.register-container{
    width: 100%;
    height: auto;
    background-color: #373737;
    padding: 50px;
    display: flex;
}
.register-one{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.edit-container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}
.edit-container > button{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.edit-container > button > img{
    width: 30px;
}
.register-one > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.register-one > form > input,
.register-one > form > select{
    width: 300px;
    padding: 10px 10px;
    margin: 20px 0;
    border: 1px solid lightgrey;
}
.register-one > form > input:focus,
.register-one > form > select:focus{
    outline: none;
}
.register-one > form > button{
    width: 300px;
    padding: 10px 10px;
    margin: 20px 0;
    background-color: #004492;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.register-two{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#output > img{
    width: 600px;
    height: 600px;
    object-fit: contain;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff5e;
    backdrop-filter: blur(10px);
}

.modal-content {
    background-color: #373737 ;
    margin: auto;
    padding: 20px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.pjesa2{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
#search-form,
#search-form2,
#search-form3{
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    position: sticky;
    top: 42px;
}
#search-input,
#search-input2,
#search-input3{
    height: 35px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    text-indent: 5px;
    background-color:#fff;
    border: none;
    outline: none;
    color: #000;
}


#search-input::placeholder,
#search-input2::placeholder,
#search-input3::placeholder{
    color: #AEAEAE;
}
#search-input:focus,
#search-input2:focus,
#search-input3:focus{
    outline: none;
}
.search-submit,
.search-submit2,
.search-submit3{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    height: 35px;
    padding: 0px 10px;
    background-color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    color: #000;
}
.rcmn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recommendations,
#recommendations2,
#recommendations3{
    position: absolute;
    top: 50px;
    list-style-type: none;
    z-index: 100;
    background-color: white;
    width: 13rem;
    box-sizing: content-box;
    margin-top: 5px;
}

#search-input2{
    width: 600px;
    color: #fff;
}
#search-input2,
.search-submit2{
    background-color: #373737 !important;
}
.search-submit2 > i{
    color: #fff !important;
}
#recommendations2{
    width: 640px !important;
    background-color: #373737;
    color: #fff;
}

.rcmn-li{
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    padding: 10px;
}
.rcmn-li:hover{
    background-color: #4AA1AC;
    color: white;
    transition: 0.2s;
}
.inside-modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.disclaimer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partner-container{
    width: 100%;
    height: 800px;
    background-color: #373737;
}
.partner-inside{
    width: 100%;
    display: flex;
}
.both-partners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
#output2 > img{
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.partner-one > form{
    width: 100%;
    display: flex;
}
.form-one,.form-two{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-one > input,
.form-two > select{
    width: 300px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid lightgray;
    color: #000;
    padding: 10px 10px;
}
.form-two > button{
    width: 300px;
    padding: 10px 10px;
    margin: 20px 0;
    background-color: #004492;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.form-one > input:focus,
.form-two > input:focus{
    outline: none;
}
.hidden {
    display: none;
}
#calendar{
    width: 100% !important;
    height: 100vh !important;
}
.tasks{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tasks > input{
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    font-size: 18px;
    color: #000;
    width: 300px;
}
.tasks > input:focus{
    outline: none;
}
.tasks > button{
    width: 300px;
    padding: 5px 10px;
    background-color: #004492;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .1s ;
}
.tasks > button:hover{
    background-color: #013168;
}
.active-inactive{
    display: flex;
    overflow: auto;
    height: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.inside-active{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
    border: 1px solid lightgrey;
}