*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #EDEDED;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-assist{
    width: 1400px;
    height: auto;
    padding: 50px 0;
}
.hamburger_undermenu{
    cursor: pointer;
    color: #fff;
    display: none;
}
.hamburger_undermenu > .bar{
    background-color: #fff;
}
.hamburger_undermenu.active_ham .bar:nth-child(2) {
    opacity: 0;
}

.hamburger_undermenu.active_ham .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger_undermenu.active_ham .bar:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
}
.links-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.unordered > li > a{
    color: #000;
    font-size: 30px;
    text-decoration: none;
}
.unordered > li > a.active{
    color: #004392 !important;
}
#container-hidden{
    display: none;
}
.backgroud-container{
    background: no-repeat url('/static/image/123 1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50rem;
    position: relative;
    display: flex;
    margin-top: 50px;
}
.backgroud-container > .part > h1{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
}
.backgroud-container > .part > p{
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    width: 100%;
}
.part{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    padding: 50px 0;
    padding-left: 50px;
}
.campus > h1,
.campus-life > h1,
.community > h1{
    color: #004392;
    font-size: 40px;
    padding: 40px 0;
}
.campus > p,
.campus-life >p,
.community > p{
    color: #000;
    font-size: 30px;
    text-align: justify;
}
.background-section{
    background: no-repeat url('/static/image/campus.png');
    background-size: cover;
    width: 100%;
    height: 50rem;
    position: relative;
    display: flex;
    margin-top: 50px;
}
.blur {
    background-color: #ffffff3a;
    /*backdrop-filter: blur(10px);*/
    display: flex;
    justify-content: center;
    border-radius:10px ;
}
.blur > h1{
    font-size: 80px;
    color: #fff;
    padding: 10px;
    font-weight: 500;
}
.first-part{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: start;
    padding-top: 50px;
}
.second-part{
    display: flex;
    justify-content: center;
    align-self: end;
    width: 50%;
    padding-bottom: 50px;
    padding-right: 50px;
}
.second-part > p{
    font-size: 35px;
    color: #fff;
    text-align: justify;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card{
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.card > p{
    margin-left:50px;
    font-size: 35px ;
}
.card > p > span{
    color: #004392;
}

.news > h1{
    font-size: 40px;
    padding: 40px 0;
    text-align: center;
    color: #004392;
}
.news > p{
    font-size: 35px;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.news-container-main{
    width: 100%;
    display: flex;
}
.news-image-inside{
    width: 70%;
    position: relative;
}
.news-container-main > p{
    width: 30%;
    font-size: 30px;
    color: #000;
    text-align: justify;
}
.news-image-inside > img{
    width: 100%;
    object-fit: cover;
}
.news-image-inside > h1{
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 10px black;
    width: 350px;
    text-align: justify;
}

.rows-news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.news-card{
    width: 50%;
    display: flex;
    margin: 25px 0;
    height: 294px;
}
.news-card > p{
    font-size: 25px;
    color: #000;
    padding:  0 10px ;
}
.news-card-inside{
    position: relative;
}
.news-card-inside > h1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 25px;
    color: #fff;
}
@media screen and (max-width:1150px) {
    .background-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .first-part{
        width: 100%;
        height: 50%;
    }
    .second-part{
        width: 100%;
        height: 50%;
    }
    .news-image-inside > h1{
        font-size: 30px;
    }
    .news-container-main > p{
        font-size: 25px;
    }
    .rows-news{
        display: flex;
        flex-direction: column;
    }
    .news-card{
        width: 100%;
    }
}
@media screen and (max-width:650px){
    .blur > h1{
        font-size: 50px;
    }
    .second-part > p{
        font-size: 30px;
    }
    .news-image-inside{
        width: 50%;
    }
    .news-image-inside > h1{
        font-size: 15px !important;
        width: 150px;
    }
    .news-container-main > p{
        width: 50%;
    }
    .news > p{
        font-size: 25px;
    }
    .news-card{
        height: auto;
    }
    .news-card > p{
        font-size: 15px !important;
    }
    .news-card-inside > img{
        width: 300px;
    }
}
@media screen and (max-width:950px) {
    .news-image-inside > h1{
        font-size: 20px;
    }
    .news-container-main > p{
        font-size: 15px;
    }
}

@media screen and (max-width:1400px) {
    .wrapper{
        padding: 0px 20px;
    }
    .unordered > li > a{
        font-size: 25px;
    }
    .news-card > p{
        font-size: 20px;
    }
}
@media screen and (max-width:1100px) {
    .unordered li > a{
        font-size: 20px;
    }
}
@media screen and (max-width:860px){
    .hamburger_undermenu{
        display: block;
    }
    .links{
        width: 256px;
        background-color: #474747;
        padding: 20px;
        border-radius: 10px;
        transition: width .2s ease-in;
        display: flex;
        flex-direction: column;
    }
    .unordered > li > a{
        display: none;
    }
    .unordered > li > a.active{
        display: block;
        color: #fff !important;
        text-decoration: none;
    }
    #container-hidden{
        background-color: #474747;
        z-index: 1000000;
        width: 100%;
        height: 100%;
    }
    #menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #menu li{
        color: #000;
    }
    #menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    #menu li a.active{
        display: none !important ;
    }
    .links.active_links{
        width: 100%;
        height: 300px;
        display: flex;
    }
    .part-one{
        width: 100%;
        padding-right: 50px;
    }
    .part-two{
        display: none;
    }
    .backgroud-container > .part > h1{
        font-size: 30px;
    }
    .backgroud-container > .part > p{
        font-size: 22px;
    }
    .card > p{
        font-size: 20px;
        margin-left: 10px;
    }
    .card > img{
        height: 150px;
    }
}

